# PIWA Configuration

# The absolute path to the directory where PIWA will store its workspace data
WORK_DIR=./work

# Phone number the agent uses to connect to WhatsApp
PHONE_NUMBER=

# The JID/Phone number of the owner (the only one allowed to instruct the bot)
OWNER_NUMBER=
